@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
* {
    scroll-behavior: smooth;
    transition: 0.5s;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.menu-open{
    height: 95px;
    width: 100%;
}

.open {
    display: none;
}

@media(max-width: 800px) {
    .open {
        display: block;
        width: 100%;
    }
    .open img {
        float: right;
        width: 35px;
    }
    .menu {
        display: none;
    }
}

body {
    transition-delay: 0.3s;
    transition-duration: 0.5s;
}

header {
    height: 562px;
    background-image: url(../img/pexels-fauxels-3183197.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    background: rgba(255, 255, 255, 0.9);
}

nav {
    width: 90%;
    margin: auto;
    height: 80px;
    align-items: center;
    display: flex;
}

nav a {
    text-decoration: none;
    color: grey;
}

.logo a {
    font-size: x-large;
    color: grey;
}

.logo span {
    color: #2bb0ff;
}

.menu {
    width: 100%;
}

.menu ul {
    float: right;
    display: flex;
}

.menu ul li {
    font-size: larger;
    padding: 5px;
    margin: 9px;
    transition: 0.3s ease;
}

.menu ul li:hover {
    opacity: 0.6;
    border-bottom: 1px solid grey;
    transition: 0.3s ease;
}

.active {
    opacity: 0.6;
    border-bottom: 1px solid grey;
    transition: 0.3s ease;
}

.headertext {
    width: 90%;
    height: 482px;
    margin: auto;
    display: flex;
    align-items: center;
}

.headtxt:nth-child(1) {
    width: 35%;
}

.headtxt:nth-child(2) {
    width: 60%;
}

.headtxt {
    transition: 0.5s;
    width: 50%;
}

.welcome button {
    border-radius: 4px;
    font-size: large;
    transition: 0.5s;
    border: 1px solid #2bb0ff;
    outline: none;
    background: transparent;
    padding: 5px;
    margin: 11px auto;
    width: 100px;
}

.welcome p {
    margin: 7px auto;
}

.welcome button:hover {
    transition: 0.5s;
    color: white;
    border: 1px solid rgb(41, 128, 185);
    background: linear-gradient(to right, rgb(0, 180, 219), rgb(0, 131, 176));
}

.count {
    width: 120px;
    float: right;
}

.count h1 {
    border-right: 3px dashed #2bb0ff;
    width: 70px;
}

.count p {
    opacity: 0.6;
}

.headerservice {
    transform: translateY(-55px);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    text-align: center;
    width: 900px;
    margin: auto;
    border-radius: 2px;
}

.service {
    box-shadow: rgb(0 0 0 / 6%) 0px 2px 4px 0px inset;
    background: white;
    display: flex;
    border-radius: 3px;
}

.serv {
    border-radius: 3px;
    transition: 0.5s;
    padding: 5px;
    width: 30%;
    background-color: white;
}

.serv:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.5s;
    transform: translateY(-25px);
    background: whitesmoke;
}

.serv img {
    height: 50px;
}

.serv p {
    font-size: 13px;
    opacity: 0.6;
}

/*-----Conteudo----*/

.us {
    width: 900px;
    margin: 80px auto;
}

.title {
    text-align: center;
}

.history {
    width: 100%;
    display: flex;
    align-items: center;
}

.his {
    width: 50%;
}

.his:nth-child(1) {
    background: url(../img/blob.svg);
    background-size: 109%;
    background-repeat: no-repeat;
}

.hi {
    height: 385px;
    width: 100%;
    position: relative;
}

.his img {
    transition: 0.3s;
    position: absolute;
    box-shadow: rgb(0 0 0 / 15%) 1.95px 1.95px 2.6px;
    width: 370px;
    height: 365px;
    margin: auto;
    border-radius: 9px;
}

.his img:hover {
    box-shadow: 0px 0px 6px 1px;
    transition: 0.3s;
    transform: none;
    transform: rotate( 0deg);
    z-index: 1;
}

.his button {
    transition: 0.5s;
    border: 1px solid aqua;
    outline: none;
    background: transparent;
    padding: 5px;
    margin: 11px auto;
    width: 100px;
}

.his p {
    opacity: 0.6;
}

.respe {
    margin: 20px auto;
    display: flex;
}

.res {
    display: flex;
    width: 300px;
}

.number img {
    width: 45px;
}

.text {
    margin: 15px;
}

.services {
    width: 90%;
    margin: 100px auto;
}

.servi {
    display: grid;
    gap: 10;
     grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    align-items: center;
    margin: 55px auto;
}

.card {
    position: relative;
    transition: 0.3s;
    width: 290px;
    height: 375px;
    text-align: center;
}

.car{
    margin: 5px;
    padding: 9px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width: 95%;
    position: absolute;
    height: 95%;
}

.content{
    display: none;
    animation: content 0.3s;
}

.content ul{
    text-align: start;
}

.content ul li{
    margin: 5px;
}

.content ul img{
    transform: translateY(1px);
    width: 28px;
    height: 15px;
    margin: 0px;
}

@keyframes content{
    to{
        opacity: 0.7;
    }

    from{
        opacity: 1;
    }
}

.car:hover {
    transition: 0.3s;
    transform: translateY(-20px);
    background: linear-gradient(to right, rgb(0, 180, 219), rgb(0, 131, 176));
    color: whitesmoke;
}

.active

.card:hover a {
    color: whitesmoke;
}

.card:hover img {
    filter: drop-shadow(2px 4px 6px black);
}

.card img {
    margin: 11px;
    width: 70px;
    height: 70px;
}

.card h3 {
    margin: 22px auto;
}

.card p {
    width: 250px;
    margin: 11px auto;
    text-align: justify;
}

.card button {
    margin: 20px auto;
    transition: 0.5s;
    border: none;
    outline: none;
    background: transparent;
    padding: 5px;
    width: 100px;
}

.card button a {
    transition: 0.3s;
    padding: 5px;
    border-bottom: 1px solid aqua;
    color: grey;
}

.card button a:hover {
    opacity: 1;
    transition: 0.3s;
    border-bottom: 1px solid grey;
    ;
}

.portfolio {
    width: 90%;
    margin: 80px auto;
}

.work {
    transition: 0.3s;
    padding: 30px;
    width: 981px;
    margin: auto;
    align-items: center;
    display: flex;
}

.work img {
    width: 335px;
}

.detail h1 {
    margin: 20px;
}

.detail span {
    margin: 20px;
}

.detail p {
    margin: 20px;
}

.sta {
    display: flex;
}

.st {
    transform: translate(-13px, 9px);
}

.st p {
    width: 300px;
    margin: 0px;
}

.sta .stlogo {
    border-radius: 54px;
    width: 20px;
    height: 20px;
    margin: 22px;
    transform: translateY(-23px);
    padding: 10px;
    box-shadow: 0px 0px 0px 1px;
}

.st img {
    width: 18px;
}

.st button {
    transition: 0.5s;
    border: 1px solid aqua;
    outline: none;
    background: transparent;
    padding: 5px;
    margin: 11px auto;
    width: 100px;
}

.space {
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/clay-banks-u27Rrbs9Dwc-unsplash.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.spc {
    color: whitesmoke;
    height: 250px;
    background: rgba(0, 0, 0, 0.8);
}

.spac {
    width: 90%;
    margin: auto;
    height: 250px;
    display: flex;
    align-items: center;
}

.sp {
    margin: auto;
    width: 250px;
    text-align: center;
}

.personal{
    width: 90%;
    margin: 190px auto;
}

.team{
    margin: 50px auto;
    display: grid;
    column-gap: 10;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.tea{
    margin: 10px auto;
    width: 250px;
    height: 300px;
    background: url(../img/blob2.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 287%;
    border-radius: 5px;
}

.tt{
    margin: 20px auto;
    text-align: center;
}

.tea img{
    width: 100%;
    height: 100%;
}

.contacti{
    display: flex;
    width: 90%;
    height: 400px;
    margin: 50px auto;
    align-items: center;
}

.contact{
    display: flex;
    align-items: center;
}

.contac{
    width: 50%;
}

.cont form{
    display: grid;
    width: 80%;
    margin: auto;
}

.cont input{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 6px;
    border: none;
    outline: none;
    padding: 5px;
    height: 25px;
    margin: 7px auto;
    width: 100%;
}

.cont textarea{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 6px;
    border: none;
    outline: none;
    height: 100px;
    padding: 5px;
    margin: 7px auto;
    width: 100%;
}

.cont img{
    transform: translateY(15px);
    width: 31px;
    margin: 4px auto;
}

.cont ul li{
    margin: 4px auto;
}

.cont button{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    transition: 0.6s;
    border: none;
    background: transparent;
    outline: none;
    width: 100px;
    padding: 5px;
    margin: 5px auto;
    float: right;
    border-radius: 6px;
}

.cont button:hover{
    transition: 0.6s;
    background: linear-gradient(to right, rgb(0, 180, 219), rgb(0, 131, 176));
    color: white;
}

.cored{
    color: whitesmoke;
    width: 100%;
    height: 80px;
    background: linear-gradient(to right, rgb(0, 180, 219), rgb(0, 131, 176));
}

.cr{
    align-items: center;
    align-self: center;
    align-content: center;
    width: 95%;
    height: 100%;
    margin: auto;
    display: flex;
}

.cr ul{
    display: flex;
}

.cr ul{
    float: right;
}

.cr ul li{
    margin: 10px;
}

.cr ul img{
    width: 30px;
}

.cc{
    width: 50%;
}

.foot{
    width: 95%;
    margin: auto;
    display: flex;
}

.foo{
    margin: 40px;
    width: 25%;
}

.foo input{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 6px;
    border: none;
    outline: none;
    padding: 5px;
    height: 25px;
    margin: 7px auto;
    width: 100%;
}

.foo button{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    transition: 0.6s;
    border: none;
    background: transparent;
    outline: none;
    width: 100px;
    padding: 5px;
    margin: 5px auto;
    float: right;
    border-radius: 6px;
}

.foo button:hover{
    transition: 0.6s;
    background: linear-gradient(to right, rgb(0, 180, 219), rgb(0, 131, 176));
    color: white;
}

.term{
    display: flex;
}

.ter{
    width: 50%;
    margin: 30px auto;
}

@media(max-width: 900px) {
    .us {
        width: 100%;
    }
    .history {
        display: inline-block;
    }
    .respe {
        display: grid;
        gap: 10;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        justify-content: center;
        margin: 20px auto;
    }
    .work {
        width: 100%;
        padding: 0px;
    }
    .portfolio {
        width: 100%;
    }
    .his {
        text-align: center;
        width: 60%;
        margin: auto;
    }
    .hi {
        width: 25%;
    }

}

@media(max-width: 1024px) {
    .headerservice {
        width: 100%;
    }
    .servi {
        display: grid;
        gap: 10;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
    .card {
        width: 350px;
        margin: 20px auto;
    }
    .service {
        display: grid;
        gap: 10;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
    .serv {
        border-radius: 3px;
        transition: 0.5s;
        padding: 5px;
        width: 300px;
        margin: auto;
        background-color: white;
    }
    .hi {
        width: 25%;
    }
    .work {
        width: 100%;
    }
}

@media(max-width: 414px) {
    .headtxt:nth-child(1) {
        width: 100%;
    }

    .contacto {
        display: grid;
    }
    .headtxt:nth-child(1) {
        width: 100%;
    }
    .headtxt:nth-child(2) {
        width: 60%;
        display: none;
    }
    .work {
        margin: 50px auto;
        display: grid;
    }
    .his {
        text-align: justify;
        padding: 0;
        margin: 0 auto;
        width: 90%;
    }
    .hi {
        transform: translate(-48px, 0px);
    }
    .his img {
        width: 40vh;
    }
    .cc{
        width: 100%;
    }

    .cc ul{
        float: none;
        justify-content: center;
    }

    .cored {
        color: whitesmoke;
        width: 100%;
        height: 106px;
        background: linear-gradient(to right, rgb(0, 180, 219), rgb(0, 131, 176));
    }

    .cr {
        align-items: center;
        align-self: center;
        align-content: center;
        width: 95%;
        margin: auto;
        display: block;
    }

    .sp {
        margin: 13px auto;
    }
    .respect {
        display: none;
    }

    .card {
        width: 85%;
        margin: 20px auto;
    }

    .work:hover .detail{
        background-color: aliceblue;
    }

    .work .detail{
        transform: translateY(-20px);
        padding: 17px;
    }

    .work .detail:nth-child(1){
        transform: translateY(20px);
        padding: 17px;
    }

    .space {
        height: 765px;
    }

    .spc{
        height: 765px;
    }
}

@media(min-width: 2000px)
{
    nav{
        width: 80%;
    }

    .us{
        width: 1000px;
    }

    .headerservice{
        width: 1000px;
    }

    header{
        height: 800px;
    }

    .header{
        height: 802px;
    }

    .headertext{
        width: 80%;
        height: 660px;
    }

    .services{
        width: 70%;
    }

    .portfolio{
        width: 70%;
    }

    .personal{
        width: 70%;
    }
}

@media(min-width: 1500px)
{
    .servi{
        display: flex;
    }

    .card{
        margin: auto;
        width: 315px;
    }

    .team{
        display: flex;
    }
}

@media(max-width: 769px) {

    .headtxt:nth-child(1) {
        width: 100%;
    }

    .card {
        width: 290px;
        margin: 20px auto;
    }

    .servi {
        display: grid;
        gap: 10;
        grid-template-columns: repeat(auto-fill, minmax(331px, 1fr));
    }

    .work:hover .detail{
        background-color: aliceblue;
    }

    .work .detail{
        transform: translateY(-20px);
        padding: 17px;
    }

    .work .detail:nth-child(1){
        transform: translateY(20px);
        padding: 17px;
    }

    .service {
        display: grid;
        gap: 10;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
    .history {
        width: 100%;
        display: inline-block;
        text-align: center;
        align-items: center;
    }
    .hi {
        text-align: center;
        width: 25%;
    }
    .respe {
        justify-content: center;
        margin: auto;
        display: grid;
        margin: 40px;
    }
    .spac {
        display: grid;
        gap: 10;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
    .space {
        height: 765px;
    }
    .spc {
        height: 765px;
        color: whitesmoke;
        background: rgba(0, 0, 0, 0.8);
    }
    .work {
        display: grid;
        margin: 90px auto;
        width: 100%;
        padding: 0px;
    }
    .work img {
        width: 100%;
        margin: 20px auto;
    }

    .sp{
        margin: 15px auto;
    }

    .sta img {
        width: 20px;
        height: 20px;
    }
    .portfolio {
        width: 100%;
    }

    .his{
        text-align: justify;
    }
}


@media(max-width: 375px)
{
    .headtxt:nth-child(1) {
        width: 100%;
    }

    .work {
        display: block;
        width: 100%;
        padding: 0px;
    }

    .work .detail {
        width: 91%;
        transform: translateY(-26px);
        padding: 17px;
    }

    .st p {
    width: fit-content;
    }

    footer {
        height: max-content;
    }

    .his img {
        width: 352%;
    }
}

@media(max-width: 480px)
{
    .hi {
        text-align: center;
        width: 20%;
        margin-left: -81px;
    }
}